:root {
  font-size: 62.5%;

  /* zinc 950 */
  --bg-color: #09090b;

  /* zinc 100 */
  --text-color: #f4f4f5;

  /* zinc 900 */
  --dark-color-1: #18181b;

  /* zinc 800 */
  --dark-color-2: #27272a;

  --gradient-right: linear-gradient(to right, #f86ca7, #f4d444);

  --gradient-top-right: linear-gradient(to top right, #f86ca7, #f4d444);

  --box: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.1), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1),
    0 0.2rem 0.2rem rgba(0, 0, 0, 0.1), 0 0 0 0.1rem rgba(0, 0, 0, 0.1),
    inset 0 0 0 0.1rem rgba(255, 255, 255, 0.03),
    inset 0 0.1rem 0 rgba(255, 255, 255, 0.03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  font: 1.6rem "Space Grotesk";
  background-color: var(--bg-color);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 1.6rem;
}

.--gradient-text {
  color: transparent;
  background-clip: text;
  background-image: var(--gradient-right);
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 8rem;
  max-width: 96rem;
  margin-bottom: 12.8rem;
  border-bottom: solid 0.2rem var(--dark-color-1);
}

header ul {
  gap: 1.6rem;
  display: flex;
  list-style-type: none;
}

header li:hover {
  text-decoration: underline;
}

/* Hero */

@keyframes moving {
  from {
    transform: translateY(-0.64rem);
  }

  to {
    transform: translateY(0.64rem);
  }
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10.8rem;
  gap: 4rem;
}

.hero__count {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-weight: 700;
  font-size: 1.6rem;
  border-radius: 2.4rem;
  padding: 0.4rem 1.6rem;
  border: 0.2rem solid var(--dark-color-1);
}

.hero__headline {
  font-weight: 700;
  font-size: 6.4rem;
  text-align: center;
  line-height: 6.4rem;
  max-width: 96rem;
}

.hero__text {
  font-weight: 300;
  max-width: 96rem;
  font-size: 2.4rem;
  text-align: center;
}

.hero__btns {
  gap: 1.2rem;
  display: flex;
}

.hero__btns a:first-of-type {
  background: var(--gradient-top-right);
}

.hero__btns a:first-of-type:hover {
  background: var(--gradient-right);
}

.hero__btn {
  all: unset;
}

.hero__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  font-size: 1.4rem;
  border-radius: 0.4rem;

  gap: 0.8rem;
  color: var(--text-color);
  background-color: var(--bg-color);

  height: 4rem;
  width: 16rem;
  cursor: pointer;

  transition: ease 320ms;
  box-shadow: var(--box);
}

.hero__btn:first-of-type {
  font-weight: 700;
  color: var(--bg-color);
}

.hero__btn:hover {
  transform: translateY(-0.64rem);
  background-color: var(--dark-color-1);
}

.icons__circle {
  width: 1.4rem;
}

.icons__img {
  height: 2rem;
  fill: var(--bg-color);
}

.icons__share {
  height: 2rem;
  fill: var(--text-color);
}

/* Galeria */

.galeria {
  padding-top: 2rem;
  margin-bottom: 12.8rem;
}

.galeria__title {
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 4rem;
}

/* Classes Btns */

.classesBtns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 6.4rem;
  text-align: center;
  gap: 1.2rem;
}

.classesBtns__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  height: 3.2rem;
  cursor: pointer;
  font-weight: 300;
  padding: 0 1.6rem;
  user-select: none;
  font-size: 1.4rem;
  border-radius: 0.4rem;
  transition: ease 320ms;
  box-shadow: var(--box);
}

.classesBtns__btn:hover {
  transform: translateY(-0.64rem);
  background-color: var(--dark-color-1);
}

/* Champions Btns */

.championsBtns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.championsBtns__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  height: 3.2rem;
  cursor: pointer;
  font-weight: 300;
  padding: 0 1.6rem;
  user-select: none;
  font-size: 1.4rem;
  border-radius: 0.4rem;
  transition: ease 320ms;
  box-shadow: var(--box);
}

.championsBtns__btn:hover {
  transform: translateY(-0.64rem);
  background-color: var(--dark-color-1);
}

.active {
  font-weight: 700;
  color: var(--bg-color);
  background: var(--gradient-right);
}

/* Champion Images */

.championImgs {
  height: 56rem;
  display: flex;
  max-width: 80rem;
  font-weight: 300;
  font-size: 1.6rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 6.4rem;
}

.championImgs__img {
  height: 97%;
  padding-bottom: 2.4rem;
  animation: zoom 400ms ease-in;
}

.championImgs__bio {
  height: 3%;
}

@keyframes zoom {
  from {
    transform: scale(0.64);
  }

  to {
    transform: scale(1);
  }
}

@keyframes up-down {
  from {
    transform: translateY(-0.8rem);
  }

  to {
    transform: translateY(0.8rem);
  }
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid 0.2rem var(--dark-color-1);
  flex-direction: column;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  max-width: 96rem;
  height: 8rem;
  width: 100%;
}

footer a {
  color: var(--purple);
  text-decoration: underline;
}

footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.icons__linkedin {
  height: 1.6rem;
  fill: var(--text-color);
}

@media only screen and (max-width: 468px) {
  header,
  .galeria {
    margin-bottom: 9.6rem;
  }

  .hero {
    gap: 2.4rem;
    margin-bottom: 7.6rem;
  }

  .hero__headline {
    font-size: 3.2rem;
    line-height: unset;
  }

  .hero__count {
    font-size: 1.4rem;
  }

  .hero__text {
    font-size: 1.6rem;
  }

  .championImgs__img {
    height: unset;
    max-width: 100%;
    max-height: 100%;
  }

  .btn {
    height: 4rem;
    width: 16rem;
    font-size: 1.4rem;
  }

  .classesBtns {
    margin-bottom: 3.2rem;
  }

  .galeria__title {
    font-size: 1.8rem;
    margin-bottom: 2.4rem;
  }

  .championImgs {
    height: 48rem;
    max-width: 100%;
    max-width: unset;
    margin-bottom: 3.2rem;
  }

  .championImgs__img {
    max-height: 95%;
  }

  .championImgs p {
    font-size: 1.4rem;
  }

  .championImgs__bio {
    height: 5%;
    font-size: 1.4rem;
  }

  header,
  .logo {
    font-size: 1.4rem;
  }
}
